.unit-view-yield {
  padding-left: 30px;
}

.lease-header {
  margin-bottom: 20px;

  #lease-select {
    font-size: 24px;
    height: 36px;
  }

  .lease-header-glyphicons {
    padding: 6px 0;

    a {
      color: #333333;
      :hover{
        color: #999999;
      }
    }

    .glyphicon {
      font-size: 24px;
    }

    .lease-update {
      margin-right: 10px;
    }

    .lease-add {
      margin-right: 10px;
    }
  }
}

.documents-table {
  .close {
    float: none;
    margin-left: 5px
  }

  .progress {
    margin: 0;
  }
}
