<template name="propertiesList">
    <div class="page-header clearfix">
        <div class="pull-left">
            <h1 class="page-header-fix">Properties</h1>
        </div>
        <div class="pull-right">
            {{>autoformModals}}
            {{#afModal class="btn btn-default" title="Add Property" formId="insertPropertyForm" buttonContent="Save" collection="Properties" operation="insert"}}
                Add Property
            {{/afModal}}
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
            {{#each properties}}
                {{> propertyRow }}
            {{/each}}
        </tbody>
    </table>
</template>