<template name="propertyView">
    {{>autoformModals}}
    <h1>{{property.name}}</h1>
    <div class="clearfix">
        <img src="" class="img-thumbnail pull-left" style="width: 140px; height: 140px;">
        <div class="pull-left">
            <h4>{{property.street}}</h4>
            <h4>{{property.city}}, {{property.state}} {{property.postalCode}}</h4>
            {{#afModal class="btn btn-link" title="Edit Property" buttonContent="Save" collection="Properties" operation="update" doc=property._id}}
                edit
            {{/afModal}}
            {{#afModal class="btn btn-link" title="Delete Property" formId="removePropertyForm" buttonContent="Delete" closeButtonContent="Cancel"
                prompt="Are you sure you want to delete this property? This process cannot be undone." collection="Properties"
                operation="remove" doc=property._id onSuccess=removePropertyHook}}
                delete
            {{/afModal}}
        </div>
    </div>
    <div>
        <br><br><br>
        {{#afModal class="btn btn-default" title="Add Unit" formId="insertUnitForm" buttonContent="Save" collection="Units" operation="insert" data=property}}
            Add Unit
        {{/afModal}}
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Unit Number</th>
        </tr>
        </thead>
        <tbody>
        {{#each units}}
            <tr>
                <td>{{unitNo}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>