<template name="propertyPanel">

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <h3 class="panel-title">{{street}} <small>{{city}}, {{state}} {{postalCode}}</small></h3>
                </div>
                <div class="pull-right">
                    <a href="" class="panel-heading-update"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="" class="panel-heading-remove"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </div>
            {{#if isMultiUnitProperty}}
            <ul class="list-group">
                {{#each units}}
                    <li class="list-group-item">{{unitNo}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>

</template>