<template name="propertiesList">

    {{>insertPropertyModal}}
    {{>removePropertyModal}}
    {{>updatePropertyModal}}

    <div class="page-header clearfix">
        <div class="pull-left">
            <h1 class="page-header-fix">Properties</h1>
        </div>
        <div class="pull-right">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#insertPropertyModal">Add Property</button>
        </div>
    </div>

    {{#each properties}}
        {{> propertyPanel }}
    {{else}}
        <div class="jumbotron">
            <h1>Welcome to RentKeep</h1>
            <p>Get started by adding your first property.</p>
            <p><button class="btn btn-lg btn-primary" type="button" data-toggle="modal" data-target="#insertPropertyModal">Add Property</button></p>
        </div>
    {{/each}}

</template>