<template name="propertiesList">

    {{>insertPropertyModal}}
    {{>removePropertyModal}}
    {{>updatePropertyModal}}

    <div class="page-header clearfix">
        <div class="pull-left">
            <h1 class="page-header-fix">Properties</h1>
        </div>
        <div class="form-inline pull-right">
            {{> esInput index="properties" placeholder="Search..." class="form-control search-header"}}
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#insertPropertyModal">Add Property</button>
        </div>
    </div>

    {{#if Template.subscriptionsReady}}

        {{#ifEsIsSearching index="properties"}}
            {{>loading}}
        {{else}}
            {{#esEach index="properties"}}
                {{> propertyPanel }}
            {{/esEach}}
            {{> esLoadMoreButton index="properties" class="btn btn-primary btn-lg btn-block" howMany=5}}
        {{/ifEsIsSearching}}

        {{#ifEsHasNoResults index="properties"}}
            <h3>No results found.</h3>
        {{/ifEsHasNoResults}}

        {{#ifEsInputIsEmpty index="properties"}}
            {{#each properties}}
                {{> propertyPanel }}
            {{else}}
                <div class="jumbotron">
                    <h1>Welcome to RentKeep</h1>
                    <p>Get started by adding your first property.</p>
                    <p><button class="btn btn-lg btn-primary" type="button" data-toggle="modal" data-target="#insertPropertyModal">Add Property</button></p>
                </div>
            {{/each}}
            {{> Paginator_UI properties}}
        {{/ifEsInputIsEmpty}}

    {{else}}
        {{>loading}}
    {{/if}}

</template>