<template name="propertyPanel">

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    {{#if isMultiUnitProperty}}
                        <h3 class="panel-title">{{street}} <small>{{city}}, {{state}} {{postalCode}}</small></h3>
                    {{else}}
                            <a href="" class="single-unit-link"><h3 class="panel-title">{{street}} <small>{{city}}, {{state}} {{postalCode}}</small></h3></a>
                    {{/if}}
                </div>
                <div class="pull-right">
                    <a href="" class="panel-heading-update" data-toggle="modal" data-target="#updatePropertyModal">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="" class="panel-heading-remove"  data-toggle="modal" data-target="#removePropertyModal">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
            {{#if isMultiUnitProperty}}
            <div class="list-group">
                {{#each units}}
                    <a href="{{pathFor 'leaseView'}}" class="list-group-item unit-item">{{unitNo}}</a>
                {{/each}}
            </div>
            {{/if}}
        </div>

</template>