<template name="unitView">

    {{#if isMultipleUnits}}
        {{>updateUnitModal unitDoc=unit}}
        {{>removeUnitModal unitDoc=unit}}
    {{/if}}

    <div class="page-header clearfix">
        {{#if isMultipleUnits}}
            <div class="pull-left">
                <h1 class="page-header-fix">{{unit.unitNo}} <small>{{property.street}}</small></h1>
            </div>
            <div class="pull-right header-glyphicons">
                <a href="" class="unit-update"  data-toggle="modal" data-target="#updateUnitModal">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="" class="unit-remove" data-toggle="modal" data-target="#removeUnitModal">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        {{else}}
            <h1 class="page-header-fix">{{property.street}}</h1>
        {{/if}}
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="{{isActivePath regex='activeLease'}}"><a href="{{pathFor route='activeLease' data=unit}}">Active Lease</a></li>
                <li role="presentation" class="{{isActivePath regex='futureLease'}}"><a href="{{pathFor route='futureLease' data=unit}}">Future Lease</a></li>
                <li role="presentation"><a href="#">Past Leases</a></li>
                <li role="presentation"><a href="#">Prospective Tenants</a></li>
                <li role="presentation"><a href="#">Maintenance</a></li>
                <li role="presentation"><a href="#">List Unit</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            {{> yield 'unitView'}}
        </div>
    </div>

</template>