<template name="activeLease">

    {{>insertLeaseModal}}
    {{>insertTransactionModal}}
    {{>updateTransactionModal}}
    {{>removeTransactionModal}}

    {{#if Template.subscriptionsReady}}

        {{#with lease}}
            <div class="row lease-header">
                <div class="col-sm-3">
                    <h3><small>Start Date</small> {{formatDate startDate}}</h3>
                </div>
                <div class="col-sm-3">
                    <h3><small>End Date</small> {{formatDate endDate}}</h3>
                </div>
                <div class="col-sm-3">
                    <h3><small>Rent</small> {{formatCurrency rentAmt}}</h3>
                </div>
                <div class="col-sm-3">
                    <div class="pull-right lease-header-glyphicons">
                        <a href="" class="lease-update" data-toggle="modal" data-target="#updateLeaseModal">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="" class="lease-remove"  data-toggle="modal" data-target="#removeLeaseModal">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tenants</h3>
                </div>
                <table class="table">
                    <tbody>
                        {{#each tenants}}
                            <tr>
                                <td>{{firstName}} {{lastName}}</td>
                                <td>{{phone}}</td>
                                <td>{{email}}</td>
                            </tr>
                        {{else}}
                            <tr><td>No tenants have been added yet</td></tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <h3 class="panel-title">Ledger</h3>
                    </div>
                    <div class="pull-right">
                        <a href="" class="transaction-add">
                            <span class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#insertTransactionModal"></span>
                        </a>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Due Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each transactions}}
                            {{> transactionsRow}}
                        {{else}}
                            <tr><td>No transactions have been added yet</td></tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        {{else}}
            <div class="jumbotron">
                <h1>This unit is vacant.</h1>
                <p>Click below to add a lease to the unit.</p>
                <p><button class="btn btn-lg btn-primary" type="button" data-toggle="modal" data-target="#insertLeaseModal">Add Lease</button></p>
            </div>
        {{/with}}

    {{else}}
        {{>loading}}
    {{/if}}
</template>