<template name="activeLease">
    <div class="row active-lease-header">
        <div class="col-sm-3">
            <h3><small>Start Date</small> 9/1/15</h3>
        </div>
        <div class="col-sm-3">
            <h3><small>End Date</small> 8/31/15</h3>
        </div>
        <div class="col-sm-3">
            <h3><small>Rent</small> $1,000</h3>
        </div>
        <div class="col-sm-3">
            <button id="edit-lease-button" class="btn btn-default pull-right" type="button">Edit Lease</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Tenants</h3>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td>Chase Greiner</td>
                    <td>(555) 555-5555</td>
                    <td>chase@example.com</td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>(555) 555-1234</td>
                    <td>john@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <h3 class="panel-title">Ledger</h3>
            </div>
            <div class="pull-right">
                <a href="" class="transaction-add">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Due Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2/1/15</td>
                    <td>Rent</td>
                    <td>$1,000</td>
                    <td>Late</td>
                </tr>
                <tr>
                    <td>1/1/15</td>
                    <td>Rent</td>
                    <td>$1,000</td>
                    <td>Paid</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>