<template name="tenantsList">

    <div class="page-header clearfix">
        <div class="pull-left">
            <h1 class="page-header-fix">Tenants</h1>
        </div>
        <div class="form-inline pull-right">
            <!--{{> esInput index="tenants" placeholder="Search..." class="form-control search-header"}}-->
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#insertTenantModal">Add Tenant</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{#each tenants}}
                {{> tenantRow }}
            {{/each}}
            </tbody>
        </table>
    </div>

</template>