<template name="home">
    {{>updateTransactionModal}}
    {{>removeTransactionModal}}

    {{#if Template.subscriptionsReady}}
        <div class="clearfix page-header">
            <div class="header-squares">
                <ul class="header-squares-list">
                    <li>
                        <div class="">{{formatCurrency rentPastDue}}</div>
                        <div class="">Rent Past Due</div>
                    </li>
                    <li>
                        <div class="">{{formatCurrency rentMonthPastDue}}</div>
                        <div class="">Rent Over 1 Month Past Due</div>
                    </li>
                    <li>
                        <div class="">{{vacantUnits}}</div>
                        <div class="">Vacant Units</div>
                    </li>
                    <li>
                        <div class="">{{soonToBeVacantUnits}}</div>
                        <div class="">Soon to be Vacant Units</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Payments Due</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Due Date</th>
                        <th>Unit</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                {{#each transactions}}
                    {{> homeTransactionRow}}
                {{else}}
                    <tr><td>No payments due in the next 7 days.</td></tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Unit Status</h3>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Unit</th>
                    <th>Current Lease Ends</th>
                    <th>Next Lease Starts</th>
                </tr>
                </thead>
                <tbody>
                {{#each units}}
                    {{> unitStatusRow}}
                {{else}}
                    <tr><td>All units are rented.</td></tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
</template>