<template name="updatePropertyModal">
    <div class="modal fade" id="updatePropertyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="show" id="propertyTab-update">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Property</h4>
                    </div>
                    {{#if propertyDoc}}
                        {{#autoForm collection="Properties" id="updatePropertyForm" type="update" doc=propertyDoc}}
                            <div class="modal-body">
                                {{> afQuickField name='street'}}
                                {{> afQuickField name='city'}}
                                {{> afQuickField name='state' options="allowed"}}
                                {{> afQuickField name='postalCode'}}
                                <div class="checkbox">
                                    <label>
                                        <input id="multiUnitCheckbox" type="checkbox"> Yes, I would like to add units to this property.
                                    </label>
                                </div>
                                <div class="alert alert-info" role="alert">To edit or delete a unit, navigate to that unit's page.</div>
                            </div>
                        {{/autoForm}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            {{#if isMultiUnit}}
                                <button id="nextBtn" type="button" class="btn btn-primary">Next</button>
                            {{else}}
                                <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>

                <div class="hidden" id="unitTab-update">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Units</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">

                            {{#each unitArray}}
                                <li class="list-group-item form-array-item no-border">
                                    <div>
                                        <div class="form-array-item-body">
                                            <input type="text" name="unitNo"  data-schema-key="unitNo" class="form-control" value={{unitNo}}>
                                        </div>
                                        <div class="form-remove-item-wrap">
                                            <button type="button" class="btn btn-primary form-remove-item"><span class="icon icon-minus"></span></button>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                            <li class="list-group-item no-border">
                                <button type="button" class="btn btn-primary form-add-item"><span class="icon icon-plus"></span></button>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>