<template name="updateExpenseModal">
    <div class="modal fade" id="updateExpenseModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Expense</h4>
                </div>
                {{#if expenseDoc}}
                    {{#autoForm collection="Expenses" id="updateExpenseForm" type="method-update" meteormethod="expenseUpdate" doc=expenseDoc}}
                        <div class="modal-body">
                            {{> afQuickField name='unitId' options=unitOptions firstOption=''}}
                            {{> afQuickField name='expDate' type='bootstrap-datepicker' datePickerOptions=dpOpts}}
                            {{> afQuickField name='payee'}}
                            {{> afQuickField name='desc'}}
                            {{> afQuickField name='amount' type='text'}}
                            {{> afQuickField name='notes'}}
                        </div>
                        <div class="modal-footer">
                            <button id="deleteBtn" type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#removeExpenseModal">Delete</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    {{/autoForm}}
                {{/if}}
            </div>
        </div>
    </div>
</template>