.report-header {
  padding-bottom: 20px;
}

.filter-glyphicons {
  padding: 6px 0;

  .export-btn-group {
    vertical-align: inherit;
  }

  a {
    color: #cccccc;
    :hover{
      color: #999999;
    }
  }

  .icon {
    font-size: 24px;
  }

  .email-glyphicon {
    margin-right: 10px;
  }

  .export-glyphicon {
    margin-right: 10px;
  }
}