.list-group-item.form-array-item > div {
  display: table;
}

.list-group-item.form-array-item .form-remove-item-wrap {
  display: table-cell;
}

.list-group-item.form-array-item .form-remove-item {
  vertical-align: top;
  margin-left: 15px;
}

.list-group-item.form-array-item .form-array-item-body {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

.list-group-item.no-border {
  border: none;
}