<template name="insertPropertyModal">
    <div class="modal fade" id="insertPropertyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="show" id="propertyTab-insert">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Property</h4>
                    </div>
                    {{#autoForm collection="Properties" id="insertPropertyForm" type="insert"}}
                        <div class="modal-body">
                            {{> afQuickField name='street'}}
                            {{> afQuickField name='city'}}
                            {{> afQuickField name='state'}}
                            {{> afQuickField name='postalCode'}}
                            <div class="checkbox">
                                <label>
                                    <input id="multipleUnitsCheckbox" type="checkbox"> Yes, this property has multiple units.
                                </label>
                            </div>
                        </div>
                    {{/autoForm}}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        {{#if isMultipleUnits}}
                            <button id="nextBtn" type="button" class="btn btn-primary">Next</button>
                        {{else}}
                            <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
                        {{/if}}
                    </div>
                </div>

                <div class="hidden" id="unitTab-insert">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Units</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">

                            {{#each unitArray}}
                                <li class="list-group-item form-array-item no-border">
                                    <div>
                                        <div class="form-array-item-body">
                                            <input type="text" name="unitNo"  data-schema-key="unitNo" class="form-control" value={{unitNo}}>
                                        </div>
                                        <div class="form-remove-item-wrap">
                                            <button type="button" class="btn btn-primary form-remove-item"><span class="glyphicon glyphicon-minus"></span></button>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                            <li class="list-group-item no-border">
                                <button type="button" class="btn btn-primary form-add-item"><span class="glyphicon glyphicon-plus"></span></button>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>