<template name="homeInvoices">

    {{>updateInvoiceModal}}
    {{>removeInvoiceModal}}

    <div class="clearfix">
        <div class="pull-left">
            <h2>Invoices Due</h2>
        </div>
        <div class="pull-right m-t">
            <form class="form-inline">
                <div class="form-group m-r">
                    <label style="font-weight: inherit;" for="datepicker-invoices">Due on or before </label>
                    <input type="text" class="form-control" id="datepicker-invoices">
                </div>
                <select id="property-select-invoices" class="form-control" title="Select a property">
                    <option value="all">All Properties</option>
                    {{#each properties}}
                        <option value="{{_id}}">{{street}}</option>
                    {{/each}}
                </select>
            </form>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Due Date</th>
            <th>Unit</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            {{#each invoices}}
                {{> homeInvoiceRow}}
            {{else}}
                <tr><td colspan="5">No invoices are due.</td></tr>
            {{/each}}
        </tbody>
    </table>

</template>